.sdArchitecture {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  background: #080906;
  padding: 40px 16px;
  color: #fff;
}
.sdArchitecture div {
  border: 1px solid #f27d63;
  padding: 12px;
  font: 9px ui-monospace;
}
.sdArchitecture span {
  color: #f27d63;
}
.sdArchitecture i {
  position: absolute;
  bottom: 7px;
  font: 8px ui-monospace;
  color: #f27d63;
  font-style: normal;
}
.sdArchitecture i:last-child {
  right: 25%;
}
.sdArchitecture i:nth-last-child(2) {
  left: 25%;
}
@media (max-width: 600px) {
  .sdArchitecture {
    flex-direction: column;
  }
}
